<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>LSST Control</title>

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="root">
        <form class="controllers" action="/" method="POST">
            <button style="background: #38ca33;" name="button" value="Motion 3" type="submit">Ход 3</button>
            <button style="background: #ca3333;" name="button" value="Braking 3" type="submit">Торможение 3</button>
            <button style="background: #38ca33;" name="button" value="Motion 2" type="submit">Ход 2</button>
            <button style="background: #ca3333;" name="button" value="Braking 2" type="submit">Торможение 2</button>
            <button style="background: #38ca33;" name="button" value="Motion 1" type="submit">Ход 1</button>
            <button style="background: #ca3333;" name="button" value="Braking 1" type="submit">Торможение 1</button>
        </form>
        <form class="controllers-1" action="/" method="POST">
            <button style="background: #1b4cff;" name="button" value="Coasting" type="submit">Выбег</button>
        </form>
    </div>
</body>
</html>